body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.image-gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.image {
    flex: 1;
    margin: 5px;
}

.image img {
    max-width: 100%;
    height: auto;
    margin: 5px;
}

/* Media query for adjusting the layout */
@media (max-width: 800px) {
    .image {
        flex: 1;
    }
}

@media (max-width: 500px) {
    .image {
        flex: 2;
    }
}