.container{
    height: 250px;
    width: 1000px;
    border: 1px solid black;
    justify-content: center;
    margin: auto;
    background-color: antiquewhite;
}
.para{
    width: 600px;
    float: left;
    text-align: justify;
    margin-left: 15px;

}
.box-img{
    width: 300px;
    height: 100%;
    float: left;
    margin-left: 40px;
}
img{
    width: 260px;
    height: 90%;
    padding: 10px;
}